/* Estilos específicos para la vista de unicornios */
body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto; /* Habilita las barras de desplazamiento */
  padding: 20px;
  box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #333;
    color: white;
  }
  
  form button {
    padding: 1rem;
    background: linear-gradient(90deg, #ff6f61, #ffeb3b, #4caf50, #3f51b5, #9c27b0);
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  }
  
  form button:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #9c27b0, #ff6f61, #ffeb3b, #4caf50, #3f51b5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Efecto de brillo en hover */
  }
  
  .table-header {
    background: linear-gradient(90deg, #4caf50, #3f51b5);
    color: white;
    border-top: 2px solid #555; /* Línea superior */
  }
  
  .table-cell {
    padding: 1rem;
    text-align: left;
    border-bottom: 2px solid #444; /* Línea de separación entre las celdas */
  }
  
  .table-cell button {
    padding: 0.5rem;
    background: linear-gradient(90deg, #ff6f61, #ffeb3b, #4caf50, #3f51b5, #9c27b0);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .table-cell button:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #9c27b0, #ff6f61, #ffeb3b, #4caf50, #3f51b5);
  }
  